In [1]:
import pandas as pd
import numpy as np

In [3]:
# importing file in python
data = pd.read_excel('superstore_dataset2011-2015.xlsx')

In [5]:
data.head() # viewing file

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,42433,AG-2011-2040,2011-01-01 00:00:00,2011-06-01 00:00:00,Standard Class,TB-11280,Toby Braunhardt,Consumer,Constantine,Constantine,...,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408.300,2,0.0,106.140,35.46,Medium
1,22253,IN-2011-47883,2011-01-01 00:00:00,2011-08-01 00:00:00,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120.366,3,0.1,36.036,9.72,Medium
2,48883,HU-2011-1220,2011-01-01 00:00:00,2011-05-01 00:00:00,Second Class,AT-735,Annie Thurman,Consumer,Budapest,Budapest,...,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66.120,4,0.0,29.640,8.17,High
3,11731,IT-2011-3647632,2011-01-01 00:00:00,2011-05-01 00:00:00,Second Class,EM-14140,Eugene Moren,Home Office,Stockholm,Stockholm,...,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",44.865,3,0.5,-26.055,4.82,High
4,22255,IN-2011-47883,2011-01-01 00:00:00,2011-08-01 00:00:00,Standard Class,JH-15985,Joseph Holt,Consumer,Wagga Wagga,New South Wales,...,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",113.670,5,0.1,37.770,4.70,Medium

In [7]:
c= list(data.columns) # showing columns
print(c)

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country', 'Postal Code', 'Market', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost', 'Order Priority']

In [8]:
# creating pivot table by selecting desired columns
pivot = pd.pivot_table(data,index=['Segment','Order ID','Customer ID','Customer Name'],values=['Sales'],aggfunc=np.sum)

In [9]:
pivot.head()

                                                       Sales
Segment  Order ID     Customer ID Customer Name
Consumer AE-2011-9160 PO-8865     Patrick O'Donnell  161.082
         AE-2013-1130 EB-4110     Eugene Barchas     228.996
         AE-2014-2840 PG-8820     Patrick Gardner     42.480
         AE-2014-3830 GH-4665     Greg Hansen        281.502
         AE-2014-4120 JD-5790     John Dryer           6.426

In [10]:
# saving results.
pivot.to_excel('pivot.xlsx')